.images{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

.image {
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    margin: auto;
    position: relative;
}

.image a{
    position: absolute;
    right: -10px;
    top: -10px;
    color: gainsboro;
}

.image a:hover{
    color: red;
    text-decoration: none;
}

#upload{
    padding-top: 10px;
    width: 150px;
    margin: auto;
}

#upload a:hover{
    text-decoration: none;
}